@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Encode+Sans+Semi+Condensed:wght@700&display=swap');

// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try uncommenting this and saving. What changes in the browser?
@import "~normalize.css";

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

$large-phone: 500px;
$tablet-vertical: 768px;
$desktop: 1200px;

body {
	background: #1a1333;
	color: #fff;
	font-family: 'Encode Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	line-height: 1.3;
	margin-top: 0;
}

.content-container {
	margin: 0 auto;
	max-width: $desktop;
	padding: 50px;
}

.ideas-results {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 100px;
	min-height: 500px;
	margin: 30px auto;
	padding: 60px;
	background: #ffc763;

	@media screen and (min-width: 650px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

$spacing: 2em;
$plus-size: 100px;

.idea {
	box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.2);
	padding: $spacing;
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;

	&:last-child {
		&::before {
			content: '+';
			position: absolute;
			top: 50%;
			font-size: $plus-size;
			margin-top: -($plus-size / 2);
			line-height: 1;
			left: -0.75em;
			color: #ff4633;
			font-weight: bold;
			text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
		}
	}
}

.idea-tags {
	align-self: flex-start;
	font-size: 0.9rem;
	margin-bottom: 1em;
	margin-left: -0.3em;

	span {
		border: 1px solid;
		display: inline-block;
		margin: 0.3em;
		padding: 0.25em 1em;
	}
}

.idea-title {
	width: 100%;
	align-self: flex-start;
}

.idea-image {
	mix-blend-mode: color-burn;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.idea-description {
	margin-top: 0;
	margin-bottom: $spacing;
}

.idea-learnmore,
.ideas-button {
	background: #2a3144;
	box-shadow: 5px 5px 0 darken(#1a1333, 10%);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1em;
	margin-bottom: 0;
	align-self: flex-end;

	&:hover {
		cursor: pointer;
	}
}

.ideas-button {
	background: #EA0F46;
	margin-top: $spacing;
	border: none;
}

$grad-rotate: 175deg;
$grad-stop: 20%;

$grad-color: #700460;

.tag-javascript {
	background: linear-gradient($grad-rotate, $grad-color 0%, $grad-color $grad-stop, darken($grad-color, 5%) ($grad-stop + 0.1), #1a1333 90%);
	color: #fff;

	.idea-learnmore {
		background: $grad-color;
		box-shadow: 5px 5px 0 darken($grad-color, 20%);
	}
}

$grad-color: #087353;

.tag-css {
	background: linear-gradient($grad-rotate, $grad-color 0%, $grad-color $grad-stop, darken($grad-color, 5%) ($grad-stop + 0.1), #045459 90%);
	color: #fff;

	.idea-learnmore {
		background: $grad-color;
		box-shadow: 5px 5px 0 darken($grad-color, 20%);
	}
}

$grad-color: #EA0F46;

.tag-aesthetics {
	background: linear-gradient($grad-rotate, $grad-color 0%, $grad-color $grad-stop, darken($grad-color, 10%) ($grad-stop + 0.1), #022c7a 90%);
	color: #fff;

	.idea-learnmore {
		background: $grad-color;
		box-shadow: 5px 5px 0 darken($grad-color, 20%);
	}
}

$grad-color: #0F875D;

.tag-design {
	background: linear-gradient($grad-rotate, $grad-color 0%, $grad-color $grad-stop, darken($grad-color, 10%) ($grad-stop + 0.1), #700460 90%);
	color: #fff;

	.idea-learnmore {
		background: $grad-color;
		box-shadow: 5px 5px 0 darken($grad-color, 20%);
	}
}
